In [23]:
# importing necessary packages
import pandas as pd
import numpy as np

In [2]:
#importing the dataset
data = pd.read_csv('Death_rates_for_suicide_by_sex_race_Hispanic_origin_and_age_United.csv')
data

,INDICATOR,UNIT,STUB_NAME,STUB_LABEL,YEAR,AGE,ESTIMATE
0,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1950,All ages,13.2
1,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1960,All ages,12.5
2,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1970,All ages,13.1
3,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1980,All ages,12.2
4,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1981,All ages,12.3
...,...,...,...,...,...,...,...
6385,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Not Hispanic or Latino: Black or Afric...,2018,65 years and over,1.3
6386,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 15-24 y...,2018,15-24 years,4.1
6387,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 25-44 y...,2018,25-44 years,4.4
6388,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 45-64 y...,2018,45-64 years,3.2
6389,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 65 year...,2018,65 years and over,1.6

## Task 1

In [14]:
# Exploratory Data Analysis(EDA)
data.head(10)

,INDICATOR,UNIT,STUB_NAME,STUB_LABEL,YEAR,AGE,ESTIMATE
0,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1950,All ages,13.2
1,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1960,All ages,12.5
2,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1970,All ages,13.1
3,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1980,All ages,12.2
4,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1981,All ages,12.3
5,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1982,All ages,12.5
6,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1983,All ages,12.4
7,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1984,All ages,12.6
8,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1985,All ages,12.5
9,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",Total,All persons,1986,All ages,13.0

In [15]:
data.tail(10)

,INDICATOR,UNIT,STUB_NAME,STUB_LABEL,YEAR,AGE,ESTIMATE
6380,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Not Hispanic or Latino: White: 45-64 y...,2018,45-64 years,13.0
6381,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Not Hispanic or Latino: White: 65 year...,2018,65 years and over,6.3
6382,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Not Hispanic or Latino: Black or Afric...,2018,15-24 years,4.2
6383,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Not Hispanic or Latino: Black or Afric...,2018,25-44 years,4.5
6384,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Not Hispanic or Latino: Black or Afric...,2018,45-64 years,3.1
6385,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Not Hispanic or Latino: Black or Afric...,2018,65 years and over,1.3
6386,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 15-24 y...,2018,15-24 years,4.1
6387,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 25-44 y...,2018,25-44 years,4.4
6388,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 45-64 y...,2018,45-64 years,3.2
6389,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race and Hispanic origin (Single ...",Female: Hispanic or Latino: All races: 65 year...,2018,65 years and over,1.6

In [16]:
data.describe(include='all')

,INDICATOR,UNIT,STUB_NAME,STUB_LABEL,YEAR,AGE,ESTIMATE
count,6390,6390,6390,6390,6390.000000,6390,5484.000000
unique,1,2,12,161,NaN,15,NaN
top,Death rates for suicide,"Deaths per 100,000 resident population, crude","Sex, age and race",Female: Black or African American,NaN,All ages,NaN
freq,6390,5578,1596,87,NaN,1624,NaN
mean,NaN,NaN,NaN,NaN,1997.525822,NaN,13.709810
std,NaN,NaN,NaN,NaN,14.937451,NaN,11.531805
min,NaN,NaN,NaN,NaN,1950.000000,NaN,0.300000
25%,NaN,NaN,NaN,NaN,1988.000000,NaN,5.000000
50%,NaN,NaN,NaN,NaN,1999.000000,NaN,10.500000
75%,NaN,NaN,NaN,NaN,2009.000000,NaN,19.500000
max,NaN,NaN,NaN,NaN,2018.000000,NaN,74.800000

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6390 entries, 0 to 6389
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   INDICATOR   6390 non-null   object
 1   UNIT        6390 non-null   object
 2   STUB_NAME   6390 non-null   object
 3   STUB_LABEL  6390 non-null   object
 4   YEAR        6390 non-null   int64
 5   AGE         6390 non-null   object
 6   ESTIMATE    5484 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 349.6+ KB

In [18]:
#Checking for missing values
data.isnull().sum()

INDICATOR       0
UNIT            0
STUB_NAME       0
STUB_LABEL      0
YEAR            0
AGE             0
ESTIMATE      906
dtype: int64

## Task 2

In [24]:
# Calculating the mean of the Estimate Column
data['ESTIMATE'].mean()

13.709810357403356

In [25]:
# Calculating the meadian of the Estimate Column
data['ESTIMATE'].median()

10.5

In [ ]:
# Calculating the mode of the Estimate Column
data['ESTIMATE'].mode()

0    4.3
Name: ESTIMATE, dtype: float64

In [27]:
# Calculating the standard deviation of the Estimate Column
data['ESTIMATE'].std()

11.531805309076466

In [32]:
# Correlation 
data.corr(method='pearson')

ValueError: could not convert string to float: 'Death rates for suicide'

### My Dataset has only one numeric feature, so data.corr() will not work on the dataset.